venv/
.venv/
env/
.env/
.vscode/
*.retry
*.log
*.lastupdated
ansible-lint.log
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitattributes
.terraform/
terraform.tfstate
*.tfstate
authorized_key.json
.terraform.lock.hcl
*.swp
*~